body {
  color: #B7AE35;
  font-family: 'Grotesque MT Std', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

.ui-widget-content a,
a {
  color: #B7AE35;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
}

.ui-widget-content a {
  font-weight: bold;
}

ul {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0 0 0.2em 0;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.5em;
  color: #B7AE35;
  margin: 0.2em 0;
  padding: 0;
  //box-shadow: 0em 0em 0em 1em rgba(207, 244, 91, 0.5);   /* #cff45b*/
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
/*   border: solid rgba(207, 244, 91, 0.5); */
  background-color: rgba(207, 244, 91, 0.3);
  padding: 1em;
  
  
  -webkit-box-shadow:0 0 2em rgba(207, 244, 91, 0.5); 
  -moz-box-shadow: 0 0 2em rgba(207, 244, 91, 0.5); 
  box-shadow:0 0 2em rgba(207, 244, 91, 0.5); 

}

dt, h2, h3, h4 {
  font-family: 'Grotesque MT Std', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
}

h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

dt {
  font-size: 1em;
}
dt {
  margin: 1em 0;
}

dd {
  margin: 1em;
}

p, blockquote {
  width: 75%;
}

.tagline {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.attribution {
  margin-left: 75%;
  font-style: italic;
}

.attribution:before {
  content: '';  
}


#content {
/*   float: left; */
}

.container {
  padding: 2em 5em 3em 5em;
  background-color: #CCE3AC;
  margin: 0.5em;
  display: block;
  clear: both;
  float: none;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

#tabs.container {
  padding: 2em 5em 3em 5em;
}

#tabs ul.buttons {
  background-color: #9F1C2D;
}

#tabs ul.buttons {
  margin: 0;
  padding: 0;
}

#tabs ul.buttons li{
  float: left;
  margin: 0 1em 0 0;
  list-style: none;
}

h2.title {
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.5em;
  color: #B7AE35;
  margin: 1em 0 0.2em 0;
  padding: 0.5em 0;
  width: 35%;
/*   float: left; */
}

#tabs .section ul.buttons {
  padding: 0 1%;
  margin: 1em 0 0 0;
  background: none;
  width: 50%;
  float: left;
}

#tabs .section .buttons a {
  display: table-cell;
  vertical-align: middle;
  margin: 0.2em;
  line-height: 0.8em;
  padding: 0.8em 2.5em;
  list-style: none;
  background-color: #9F1C2D;
/*
  width: 5em;
  height: 2em;
*/
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Chivo', Helvetica, Arial, sans-serif;
  box-shadow: 0 0 6px #333;
  color: #B7AE35;
}

.image {
  margin: 1em 0 2em 0;
}

footer {
  padding: 2em 5em;
}

ul.left {
/*
  display: inline;
  float: left;
  width: 50%;
*/
}

.clear {
  display: block;
  float: none;
  width: 100%;
}